
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Scripts.Render("~/assets/cache/jquery")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <iframe src="~/fileman/index.html?integration=custom" style="width:100%;height:500px" frameborder="0"></iframe>
</body>
</html>
