@using LeadManagementSystemV2.Helpers;
@{
    ViewBag.AllowAdding = true;
    ViewBag.AllowEditing = true;
    ViewBag.AllowDeleting = true;
    ViewBag.isImage = true;
    ViewBag.targetCol = 2;
    ViewBag.ImagePath = "assets/gallery/";
    if (ViewBag.UserRecord.RoleID == ApplicationHelper.EnumRole.Administrator)
    {
        //ViewBag.AllowDeleting = true;
    }
    string DataTableColumns = "{ \"data\": \"ID\",\"searchable\": false,\"bSortable\": true,\"bVisible\": false},{ \"data\": \"Title\"},{\"data\": \"Image\"},{ \"data\": \"Status\"},{ \"data\": \"CreatedDateTime\"},{ \"data\": \"UpdatedDateTime\"}";

    if (ViewBag.AllowAdding != null || ViewBag.AllowEditing != null || ViewBag.AllowDeleting != null)
    {
        ViewBag.DataTableActionColumn = "5";
        DataTableColumns += ",{ \"data\": \"ID\",\"searchable\": false,\"bSortable\": false}";
    }


    ViewBag.DataTableColumns = DataTableColumns;
}
@section LinkStyleSection{
    @Styles.Render("~/assets/cache/datatablestyle")
   
}

@section LinkScriptSection{
    @Scripts.Render("~/assets/cache/datatablescript")
}
@section InLineScriptSection{
    @{Html.RenderPartial("JScript");}
    <script>
        $(document).ready(function () {
            $("#btnAdd").text('Add Image');

            $('#fileupload').fileupload({
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .bar').css(
                        'width',
                        progress + '%'
                    );
                }
            });
        });
    </script>
}
@{Html.RenderPartial("BreadCrumb");}
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="panel">
        <div class="panel-body">

            <table class="table table-striped table-bordered record-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Image</th>
                      
                        <th>Status</th>
                        <th class="min-desktop">Created DateTime</th>
                        <th class="min-desktop">Updated DateTime</th>
                        @if (ViewBag.DataTableActionColumn != null)
                        {
                            <th data-priority="2">Actions</th>
                        }
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!--===================================================-->
    <!-- End Striped Table -->
</div>
<!--===================================================-->
<!--End page content-->
